/* ================================================== */
/*  header  */ 
/* ================================================== */
    header {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
        background:#18191b;
        border-bottom:solid 1px rgba(0,0,0,0.0);
    }
    
    header .info{        
        color:#fff;
        text-align:right;
        padding:10px 0 10px 0;
        width:100%;
        z-index:100;
        border-bottom:solid 1px rgba(255,255,255,.2);
    }    
    header .info ul.info-list {
        margin: 0;
        padding: 0;
        text-align: left;
    }   
    header .info ul.info-list li {
        display: inline-block;
        margin-right: 25px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    header .info ul.info-list li i {
        color: #fab207;
        display: inline-block;
        float: none;
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 8px;
    }
    header .info ul.info-list li span {
        font-weight: bold;
    }
    header .info ul.social-list {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    header .info ul.social-list li {
        display: inline-block;
        margin-left: 15px;
    }
    header .info ul.social-list li i{
        color: #fff;
        display: inline-block;
        float: none;
        font-size: 14px;
        margin: 0px 0px 0px 0px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }    

    header.header-bg{
        background:rgba(0,0,0,0.5);
    }
    
    header.transparent{
        background:rgba(0,0,0,0.0);
    }

    header.autoshow{
        top:-80px;
    }
    
    header.autoshow.scrollOn, header.autoshow.scrollOff{
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        outline: none;  
    }
    
    header.autoshow.scrollOn{
        top:0;
    }
    
    header.autoshow.scrollOff{
        top:-80px;
    }
    
    header h1#logo {
        display: inline-block;
        height: 100%;
        float: left;
        font-family: "Oswald", sans-serif;
        font-size: 60px;
        color: white;
        font-weight: 400;
        line-height:60px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; 
    }
    header h1#logo a img{
        max-width: 340px;
        max-height: 60px;
    }
    header h1#logo .logo-2{
        display:none;
    }
    header nav {
        float:right;
    }
    header nav a {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; 
    }
    header nav a:hover {
        color: #555; 
    }
    header.smaller #mainmenu a{
        padding-top: 18px;
        padding-bottom:18px;
    }
    header.smaller #mainmenu a{
        padding-top: 18px;
        padding-bottom:18px;
    }
    header.smaller #mainmenu li li a{
        padding-top: 2px;
        padding-bottom:2px;
    }
    header.smaller #mainmenu ul{
        top:70px;
    }
    header.smaller {
        height: 70px;
        background:#18191b;
        border-bottom: solid 1px #333;
    }
    ul li a span.caret{
        display: none;
    }
    .logo-smaller h1#logo {
        width: 150px;
        height:30px;
        line-height: 65px;
        font-size: 30px;
    }
    .logo-smaller h1#logo img{
        line-height: 75px;
        font-size: 30px;
    }
    .logo-smaller  h1#logo .logo-1{
        display:none;
    }
    .logo-smaller  h1#logo .logo-2{
        display:inline-block;
    }
    .logo-small{
        margin-bottom:20px;
    }
    header.fixed #mainmenu a{
        padding: 18px 20px 18px 20px !important;    
    }
    header.fixed {
        height: 70px;
        background:rgba(255,255,255,0.90);
        border-bottom:solid 1px #ddd; 
    }
    header.fixed h1#logo {
        width: 150px;
        height:30px;
        line-height: 65px;
        font-size: 30px;
    }
    header.fixed h1#logo img{
        width:auto;
        height:30px;
        line-height: 75px;
        font-size: 30px;
    }
    header.fixed h1#logo img.logo-1{
        display:none;
    }
    header.fixed h1#logo img.logo-2{
        display:inline-block;
    }
    .center{
        text-align: center;
    }
    header.de_header_2{
        height:125px;   
    }
    
    header.de_header_2.smaller {
        height:70px;
    }
    
    header.de_header_2.smaller .info{
        position:absolute;
        opacity:0;
        z-index:-1;
    }
    .logged-in.admin-bar header.header-bg {top:32px;}
	
	/* ================================================== */
	/* navigation */
	/* ================================================== */
    #mainmenu {
        font-family:"Raleway", Arial, Helvetica, sans-serif;
        float: right;
        font-size:11px;
        font-weight:400;
        letter-spacing:3px;
        text-transform:uppercase;
		margin-bottom: 0px;
    }   
    
    #mainmenu ul {
        float: right;
        margin: 0px 0px;
        padding: 0px 0px;
        height: 30px;
    }
    
    #mainmenu li {
        margin: 0px 0px;
        padding: 0px 0px;
        float: left;
        display: inline;
        list-style: none;
        position: relative;
    }
        
    #mainmenu a {
        display: block;
        padding: 25px 0px 25px 20px;
        line-height: 35px;
        text-decoration: none;
        color:#fff;
        text-align:center;
        outline:none;
    }
    #mainmenu ul li a b{
        font-weight: normal!important;
    }  
    h1 b{
        font-weight: normal!important;
    }  
    #mainmenu li a:after {position:relative; font-family:"FontAwesome"; content:"\f111"; font-size:6px; margin-left:20px; margin-top:0px; color:#FAB702;}
    
    #mainmenu li:last-child a:after{display:none;}
    
    #mainmenu.no-separator li a:after{
        font-size:0px;
    }   
    
    #mainmenu.line-separator li a:after{
        content:"/";
        font-size:14px;
    }   
    
    #mainmenu.circle-separator li a:after{
        content:"\f10c";
        font-size:9px;
    }   
    
    #mainmenu.strip-separator li a:after{
        content:"\f068";
        font-size:9px;
    }   
    
    #mainmenu.plus-separator li a:after{
        content:"\f067";
        font-size:11px;
    }   
    
    #mainmenu.square-separator li a:after{
        content:"\f096";
        font-size:11px;
    }       
    #mainmenu li li {
        font-size: 10px;
        font-weight: normal; 
        border-bottom: solid 1px #333;
    }
    
    #mainmenu li li:last-child {
        border-bottom: none;
    }
    

    #mainmenu li li a {
        padding: 2px 15px 2px 15px;
        background: #222327;
        border-top: none;
        color: #ccc;
        width:200px;
        border-left:none;
        text-align:left;
    }
    ul li.menu-item-has-children ul li.active a{
        color:#111!important;
    }
    
    #mainmenu li li a:hover{
        color:#111!important;
    }
    
    #mainmenu li li a:after {
        content:none !important;
    }
    
    #mainmenu li li li a {
        padding: 2px 15px 2px 15px;
        background: #222327;
    }
    
    #mainmenu li li a:hover {
        color:#111;
        background: #1a8b49;
    }
    
    #mainmenu li ul {
        width: 201px;
        height: auto;
        position: absolute;
        top: 80px;
        left: 0px;
        z-index: 10;
        display: none;
    }
    
    #mainmenu li li {
        display: block;
        float: none;
    }
    
    #mainmenu li:hover > ul {
        display: block;
    }
    
    #mainmenu li ul ul {
        left: 100%;
        top: 0px;
    }
    
    #mainmenu li:hover > ul {
        color: #1a8b49;
    }
    
    #mainmenu select {
        padding: 10px;
        height: 36px;
        font-size: 14px;
        border: none;
        background: #ff4200;
        color:#eceff3;
    }
    
    #mainmenu select option {
        padding: 10px;
    }
    .dropdown-menu > li > a {white-space: normal;}
    /* menu toggle for mobile */
    #menu-btn{
        display:none;
        float:right;
        margin-top:5px;
        width:36px;
        height:36px;
        background:#333;
        padding:6px;
        text-align:center;
        cursor:pointer;
    }
    
    #menu-btn:before{
        font-family:FontAwesome;
        content: "\f0c9";
        font-size:24px;
        color:#eceff3;
    }
    
    #menu-btn:hover{
        background:#fff;
    }
    
    #menu-btn:hover:before{
        color:#222;
    }	

/* ================================================== */
/* R E S P O N S I V E */
/* ================================================== */
    @media(min-width:980px) and (max-width: 1199px) {
        header #mainmenu a{
            padding-left:5px;
            padding-right:5px;
        }
        #mainmenu li a:after{
            margin-left:15px;
        }
    }
    
    @media only screen and (max-width: 992px) { 
        #menu-btn{
            display:block;
            position:relative;
            float:right;
        }                
        header{
            display:none;
        }

        header .info{
            display:none !important;
        }
        
        header.header-bg{
            background:rgba(0,0,0,1);
        }

        header,header.fixed {
            display:block;
            position:inherit;
            margin:0;
            padding:0;
            margin-top:0;
            height:auto !important;
            background:#000000;
            padding:15px 0 15px 0;
        }
        header.fixed h1#logo {
            height: 100%;
            line-height: 120px;
            float: left;
        }                
        header.fixed h1#logo img{
            height:auto;
        }       
        h1#logo{
            margin-top:-15px;
        }
        #logo, #logo .inner {
         vertical-align:middle;
         height:auto;
        }                      
        nav{
            width:100%;
        }
        
        #mainmenu{
            display:none;
            float:none;
            z-index:200;
            width:100%;
            margin:0;
            padding:0;
        }
        
        #mainmenu a{
            text-align:left;
            padding-top:10px !important;
            padding-bottom:10px !important;
        }
        
        #mainmenu a:hover{
            background:#111 !important;
        }
                
        #mainmenu li ul{
            display:block;
            position:inherit;
            margin:0;
            width:100%;
        }
        
        #mainmenu li{
            border-bottom:solid 1px #333;
            margin:0;
            width:100%;
            display:block;
            letter-spacing:3px;
        }
        
        #mainmenu li a:after{
            display:none;
        }
        
        #mainmenu li:last-child{
            margin-bottom:30px;
        }
        
        #mainmenu li ul{
            border-top:solid 1px #333;
            top:auto;
        }
        
        #mainmenu li ul a{
            width:100%;
            background:none;
            border:none;
        }
        
        #mainmenu li ul li{
            border:none;
            padding-left: 40px !important;
        }
        
        #mainmenu li ul li a{
            display:block;
            border-left:solid 1px #333;
            border-bottom:solid 1px #333;
        }
        
        #mainmenu li ul li:last-child{
            border-bottom:none;
            margin:0;
        }
        
        #mainmenu li ul li:last-child a{
            border-bottom:none;
        }
        #mainmenu li a{
            color:#eceff3;
        }
        
        #mainmenu  li li a{
            font-size:10px;
        }
        
        #mainmenu  li li a:hover{
            color:#fff!important;
        }		
    }

	/* -------------------------------------------------- 
	design for 320px
	/* -------------------------------------------------- */
	@media (min-width: 300px) and (max-width: 979px) {    
		#mainmenu li a{ display:block; width:100%;}        
	}