body{
font-family: 'PT Sans',Arial, Helvetica, sans-serif;
font-size:13px;
}

h1,h2,h3,h4,h5,h6,
.big-white,
.ultra-big-white,
.de_tab.tab_steps .de_nav li span,
.teaser-text,
.text-slider,
#mainmenu,
.btn,
a.btn,
.btn-line,
a.btn-line,
.added_to_cart,
#filters{
font-family: 'Montserrat',Arial, Helvetica, sans-serif!important;
}

h1,h2,h3,h4,h5,h6,
.de_tab.tab_steps .de_nav li span
{
letter-spacing:0;
text-transform:none;
}
.blog-list h3, .blog-read h3{
font-size:22px;
}
.ultra-big-white, .big-text{
	font-family: 'Montserrat',Arial, Helvetica, sans-serif;
	font-size:52px!important;
	letter-spacing:5px;
}
.big-text {color:#fff;}
.text-slider{
	font-size:60px;
	letter-spacing:5px;
}
body.de_light{
	color:#606060;
}
body.de_light span.teaser, .text-light {color: #ddd;}
body.de_light h1.title {
    color: #fff !important;
}
/* ================================================== */
/* content */
/* ================================================== */
	
.de_light #content{
	background:#fff;
}
.de_light .text-light .de_count h3{
	font-family:"Dosis", Arial, Helvetica, sans-serif !important;
	color: #fff;
}
.de_light .dark .de_tab_content {
	color: #606060;
}
.de_light .text-light h3{color: #fff;}
.de_light .overlay70 h3 b {color: #fff;font-weight: 300;font-family: 'Montserrat',Arial, Helvetica, sans-serif;}
.text-light h1 {
  color: #fff !important;
}
.portfolio-navigation a {
    border:1px solid rgba(1,1,1,.4);
    color: rgba(1,1,1,.6) !important;
    line-height: 26px;
}
.folio-style2 .folio-info h3 a{color: #666;}
/* ================================================== */
/* blog */
/* ================================================== */
	
	.de_light .blog-list li{
	}	
	
	.de_light  .blog-list h3 a{
	color:#111;
	}
	.de_light  .text-light  .blog-list h3 a{
	color:#fff;
	}
	
	.de_light .blog-list .btn-more:hover{
	background:#222;
	color:#fff;
	}	
	
	.de_light .blog-list .date-box .day, .de_light .blog-list .date-box .month {
	color:#111;
	}		
	
	.de_light .blog-list .date-box .day{
	color:#fff;
	}
	
	.de_light .blog-list .date-box .month {
	border-bottom-color:#ddd;
	}
	
	.de_light  .text-light  .blog-list .date-box .month{
	color:#fff;
	}	

	.de_light #contact_form input[type=text],.de_light #contact_form textarea,.de_light #contact_form input[type=email], .de_light #search{
	border:solid 1px #ddd;
	background:#f5f5f5;	
	color:#333;
	}
	.de-light .wpcf7 input[type=tel]{
		background: #f5f5f5!important;
	}


/* ================================================== */
/* elements */
/* ================================================== */
	
	/* address */
	/* ------------------------------ */
	
	.de_light #sidebar .widget address span{
		border-bottom:solid 1px #ddd;
	}
	.de_light #sidebar .widget address a{
		color:#333;
	}
	.de_light .crumb a:hover{
		color:#fff;
	}
	.de_light .btn-line, .de_light a.btn-line{
		border:solid 1px rgba(1,1,1,.2) !important;
		color:#333;
	}
	.de_light a.btn-line-black:hover{
		background:#111;
		color:#fff;
	}
	.de_light h1,.de_light h2,.de_light h3,.de_light h4,.de_light h5,.de_light h6{
		color:#333;
	}
	
	/* pagination */
	/* ======================================== */
	
	.de_light .pagination li a:hover{
		color:#111;
		background:none;	
	}
	.de_light .pagination li a{
		border-color:#ccc;
	}
.de_light .project-info .details{
	background:#eee;
	border-color:#ddd;
}
.de_light span.overlay {
	background: #fff;
}
.de_light .bg-fixed{
    background:top fixed #fff;
}

/* ================================================== */
/* widget */
/* ================================================== */
.de_light .widget{
	border-bottom:solid 1px #ddd;
}
.de_light .widget_category li {
	background:#eee;
}
.de_light .widget_tags li a {
	color:#606060;
	border:solid 1px #ddd;
}
.de_light a{
	color:#888;
}
.de_light a:hover{
	color:#555;
}
.de_light #services-list li a{
	color:#999;
}
.de_light #services-list li a:hover{
	color: #111;
}
.de_light #services-list li{
	background:#ddd;
}
.de_light .service-list:nth-child(2n+0) {
    background: #f2f2f2;
}
.service-list:nth-child(2n-1) {
    background-color: #ffffff;
}
.de_light .mfp-close{
	color:rgba(0,0,0,.5) !important;
}
.de_light .mfp-close:hover{
	color:rgba(0,0,0,1) !important;
}
.de_light .nav-exit:before{
	color:#222;
}
.de_light .separator span:before,
.de_light .separator span:after {
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.de_light .text-light .separator span:before, .de_light .text-light .separator span:after {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.de_light .de_tab_content{
	color:#ddd;
}
.text-light .btn-line, .text-light a.btn-line {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #fff;
}

#portfolio-controls {
    background: rgba(230, 230, 230, 1) none repeat scroll 0 0;
}
.center-portfolio {
    background: rgba(210, 210, 210, 1) none repeat scroll 0 0;    
}
.center-portfolio:hover {
    background: rgba(12, 12, 12, 0.9) none repeat scroll 0 0;
}
.portfolio-icon {
    color: #252525;
}
.portfolio-icon a {
    display: block;
}
.portfolio-icon a:hover{background: rgba(12, 12, 12, 0.9) none repeat scroll 0 0;}
.portfolio-icon a i {float: none;color: #252525;}

/* ================================================== */
/* R E S P O N S I V E */
/* ================================================== */
	@media(min-width:980px) and (max-width: 1199px) {
	
		header #mainmenu a{
			padding-left:5px;
			padding-right:5px;
		}
		
		#mainmenu li a:after{
			margin-left:15px;
		}
	
	}
	
	/* -------------------------------------------------- 
	custom for 320px & 480px 
	/* -------------------------------------------------- */
	@media only screen and (max-width: 767px) {
		.ultra-big-white, .big-text{
			font-size:32px!important;
		}
	    .de_light .bg-fixed{
	        background:top center #fff;
	        background-attachment: scroll;
	    }
	}
	
	@media only screen and (max-width: 480px) {
		.ultra-big-white, .big-text{
			font-size:15px!important;
		}	
	}
	
.post-controls .post-title em{color: #898989;}
.post-controls .post-title strong{color: #333;}